body{
    background-color:#6883bc;
    min-width: 450px;
   }
   
   h1{
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 3em;
   }
   
   #container{
    background-color: #c6d7eb;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    border-radius: 20px;
    /* border: 5px solid #809690; */
   }
   
   #inputbox{
    text-align: center;
    margin-left: 20%;
    width: 60%;
    height: 50px;
    margin-bottom: 20px;
   }
   
   #inputbox input{
    height: 40px;
    border: 5px solid #6883bc;
    width: 48%;
   }
   
   #inputbox button{
    height: 40px;
    width: 12%;
    font-size: 24px;
   }
   
   input{
    border-radius: 20px;
    text-align: center;
    color:#4a536b;
    font-weight: bold;
    font-size: 1.5em;
   }
   
   
   table{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   
   .fa-edit{
    color: #4a536b;
   }
   
   .fa-sort-up{
    font-size: 32px;
    color: #4a536b;
   }
   
   .fa-sort-down{
    font-size: 32px;
    color:#4a536b;
   }